<!-- partials/cloud.ejs -->


<script src="/static/javascripts/wordcloud2.js" defer></script>

<!-- 3 columns  -->
<!-- 1 left column show selection  -->
<!-- 1 center column:   -->
<!-- 1 go back to index   -->
<!-- row 1: recap  -->
<!-- row 2: canvas  -->

<div id="cloud" class="container-fluid text-center">
  
  <div class="row">

    <div class="col-md-5 text-center">
      <div class="d-inline-flex justify-content-center align-content-center align-middle">
        <h1 class="aling-middle">La tua selezione : &nbsp; </h1>
        <button type="button" class="btn btn-primary" disabled id="screen"></button>
        <h1 class="aling-middle"> &nbsp; &#45; &nbsp; </h1>
        <button type="button" class="btn btn-primary" disabled id="date"></button>
      </div>
    </div>
    <!-- close summary column -->

    <div class="col-md"></div>
    <!-- close center column -->
    
    
    <div class="col-md-5">
      <a class="btn btn-primary" href="./index#selection" target="_blank" rel="noopener noreferrer">Vuoi fare una nuova ricerca?</a>
    </div>
    <!-- close new search column -->
    
  <!-- close row -->
  </div>

  <div class="row">
    <div class="col-md">
     <canvas id="mySuperCanvas" class="canvas"></canvas>
    </div>
  <!-- close row -->
  </div>
    
</div>


<script>

window.onload = function() {

const canvas = document.getElementById('mySuperCanvas');
const context = canvas.getContext('2d');
const layoutViewport = document.getElementById('cloud');
const vViewport = window.visualViewport;

//canvas.width = 0.9 * window.outerWidth;
//canvas.height = 0.4 * window.outerWidth;
//canvas.width = 0.9 * layoutViewport.width;
//canvas.height = 0.4 * layoutViewport.width;
if (vViewport.width > vViewport.height) {
  canvas.width = 0.9 * vViewport.width;
  canvas.height = 0.4 * vViewport.width;
} else if (vViewport.width < vViewport.height) {
  canvas.width = 0.9 * vViewport.width;
  canvas.height = 1.5 * vViewport.width;
}

var websitename = <%- JSON.stringify(websitename) %>;
var twitteruser = <%- JSON.stringify(twitteruser) %>;
var date = <%- JSON.stringify(startdate) %>;
var list = <%- JSON.stringify(outputlist) %>;
var data = <%- JSON.stringify(data) %>;

function findScreen(possibleUser) {
  return possibleUser == twitteruser;
}
function findEasyDate(possibleDate) {
  return possibleDate == date;
}

var screenIndex = data.possibleUsers.findIndex(findScreen);
var dateIndex = data.possibleDates.findIndex(findEasyDate);

document.getElementById("screen").innerHTML= data.possibleScreens[screenIndex];
document.getElementById("date").innerHTML = data.possibleEasyDates[dateIndex];


var options = {
  //minSize : '12',
  gridSize : '16',
  // origin : [90,90],
  drawOutOfBound : false,
  shrinkToFit : true,
  // fontFamily : 'Times, serif',
  fontWeight : 'bold',
  color : 'random-dark',
  backgroundColor : '#61bef4',
  shuffle : true,
  rotateRatio : '0',
  shape: 'circle',
  weightFactor: '1',
  list : list
};

WordCloud(document.getElementById('mySuperCanvas'), options );

}


</script>
